<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>866693984261-u1f5epl3obsg49c43s87pvvqrksq1fiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866693984261-u1f5epl3obsg49c43s87pvvqrksq1fiq</string>
	<key>API_KEY</key>
	<string>AIzaSyDJnF3runazJWMdsvxPk2u7f0N2b3PpGoM</string>
	<key>GCM_SENDER_ID</key>
	<string>866693984261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RRP.MyMusicAppFb3</string>
	<key>PROJECT_ID</key>
	<string>mymusicappf3</string>
	<key>STORAGE_BUCKET</key>
	<string>mymusicappf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:866693984261:ios:6fdb39ffb8a3565b</string>
	<key>DATABASE_URL</key>
	<string>https://mymusicappf3.firebaseio.com</string>
</dict>
</plist>